body {
    max-width: 700px;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
}

#content {
   padding: 10px;
}

#header {
    padding-top: 20px;
}

#menu {
    padding: 0px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#menu a {
    text-decoration: none;
    padding: 7px 10px;
    display: inline-block;
    background-color: #ff6400;
    color: white;
    border-radius: 3px;
}

#menu a:hover {
    cursor: pointer;
    background-color: #BF4D00;
}

#menu li {
    display: block;
    margin: 5px;
}