h1 {
    color: red;
}
h1 {
    display: inline-block;
    color: blue;
}

footer {
    text-align: center;
    padding: 20px 0px;
}

#images img {
    display: inline-block;
}

.image {
  width: 100px;
  height: 100px;
}

input:hover {
  cursor: pointer;
}

#content {
  background-color: #c3e4d6;
}

ul {
    list-style-type: none;
}