#flex-container {
  height: 400px;
  background-color: lightgray;
  /* add more rules here */
}

.flex-item {
  background-color: purple;
  color: white;
  padding: 20px;
  display: inline-block;
  width: 100px;
  height: 100px;
}

.even {
  background-color: cadetblue;
}