#animation {
  width: 100%;
  height: 900px;
  background-color: lightgray;
  margin: 0 auto;
  padding: 20px;
}

.block {
  width: 100px;
  height: 100px;
  background-color: #ff6400;
  margin: 20px;
}  