#container {
  width: 700px;
  height: 400px;
  display: flex;
  background-color: lightgray;
  border: 1px solid red;
}
  
.item {
  background-color: purple;
  color: white;
  padding: 20px;
  display: inline-block;
  height: 100px;
  width: 100px;
  margin: 20px;
  border: 2px dashed white;
}