h1 {
    display: inline-block;
}

#chatbox {
  width: 270px;
  height: 110px;
  background-color: #BF4D00;
  color: white;
  padding: 20px;
  border-radius: 4px;
  position: fixed;
  bottom: 5px;
  right: 10px;
}

#chatbox input {
  border-radius: 2px;
  height: 20px;
  border: none;
  padding: 4px
}

#chatbox button {
  border: none;
  padding: 4px 6px;
  height: 27px;
  border-radius: 2px;
}