html {
    font-family: helvetica, sans-serif;
  }
   
  article {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 800px;
    background: cornflowerblue;
    box-sizing: border-box;
  }
  
  .inline-block {
    text-align: center;
    padding: 10px;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
  }
  
  .container {
    display: flex;
  }
  
  .header {
    background: antiquewhite;
    width: 100%;
  }
  
  .main-content {
    height: 200px;
    background: lightgreen;
    width: 70%
  }
  
  .sidebar {
    height: 100px;
    background: cyan;
    width: 30%;
  }
  
  .footer {
    background: plum;
    padding: 20px;
  }
  
  @media only screen and (max-width: 600px) {
    .content {
      display: block;
    }
  }